/* Categories.css individual style by Elisângelo */
.categories {
  color: black;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  margin: auto;
  margin-top: 3vh;
  max-width: 100%;
  position: relative;
  top: 10vh;
  z-index: 0;
}

.categorie {
  background-color: transparent;
  display: flex;
  height: fit-content;
  margin: 5px;
}

.categorie button {
  background-color: rgb(247, 206, 93);
  border: solid 1px  rgb(237, 95, 101);
  color: #1c1d1d;
  font-size: 15px;
  font-weight: 300;
  max-width: 20vh;
  min-width: 150px;
  padding: 5px 0;
  text-align: center;
  width: 45vw;
}

.favorite button {
  color: #1c1d1d;
  font-size: 15px;
  font-weight: 300;
  max-width: 20vh;
  min-width: 150px;
  padding: 5px 0;
  position: relative;
  text-align: center;
  top: 2vh;
  width: 45vw;
}
