.header {
  background: linear-gradient(to top, transparent 0%, rgb(237, 95, 101) 13%);
  height: 11vh;
  min-width: 280px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.topbar {
  align-items: center;
  background-color: transparent;
  display: flex;
  height: 8vh;
  justify-content: space-around;
  margin-top: 10px;
  position: relative;
  z-index: 1;
}

.explorer button {
  background-color: transparent;
  border: 0.5px transparent;
  display: flex;
}

.titulo {
  align-items: center;
  background-color: transparent;
  display: flex;
  font-family: Courgette, cursive;
  font-size: 30px;
  font-weight: 500;
  height: 8vh;
  justify-content: center;
}
