/* Estilizado por Elisangelo */
li, button{
    cursor: pointer;
}
.selected{
    background-color: rgb(128, 128, 128);
}
.completed{
    text-decoration: line-through;
}
.box-Lista{
    width: 33%;
    max-height: 300px;
}